/* Page Background */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url("https://images.unsplash.com/photo-1503264116251-35a269479413") 
                no-repeat center center fixed;
    background-size: cover;
    color: white;
}


/* Header Section */
header {
    text-align: center;
    padding: 60px 20px;
    backdrop-filter: blur(4px);
}

header h1 {
    font-size: 60px;
    margin-bottom: 5px;
}

header h2 {
    font-size: 28px;
    margin-top: 0;
}

/* Content Section */
.container {
    text-align: center;
    margin-top: 40px;
}

.container h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.container p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

/* Button Styling */
button {
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #ffffffcc;
    color: black;
    transition: 0.3s;
}

button:hover {
    background: white;
    transform: scale(1.08);
}
